@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */
/* @import "tailwindcss-animated"; */

*{
    font-family: Outfit;
}

:root {
    --default-animation-duration: 500ms;
    --default-animation-delay: 0s;
    --default-animation-timing-function: ease;
  }